PYTHONUNBUFFERED=1
DB_DATABASE=aleo
DB_HOST=localhost
DB_SCHEMA=explorer
DB_USER=username
DB_PASS=password
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_USER=username
REDIS_PASS=password
PLEDGE_ADDRESS=aleo1dx2war20thpyem2nmj3nzeupn03vpau07nka7kjcl0em7f40cuxqfrl3zg,aleo1h8w52eh0y7vf038a28z0e5wc6m535mqf666u7kmy05cua362vqysr8jx4a,aleo15wpy0ptmfp3asg9pmlwce3w65g5e4mkxr4yn3jglmekef23ktsfq8l979q
#DEV_MODE=1
#HOST=127.0.0.1
#PORT=8000
#API_HOST=127.0.0.1
#API_PORT=8001
P2P_NODE_HOST=127.0.0.1
P2P_NODE_PORT=4130
P2P_BLOCK_BATCH_SIZE=1
API_ROOT=http://127.0.0.1:8001
API_DOC_ROOT=http://127.0.0.1:8001/api/docs
RPC_URL_ROOT=http://127.0.0.1:3033
REF_RPC_URL_ROOT=https://api.explorer.aleo.org/v1
DEBUG=1
TURNSTILE_SITE_KEY=0x0
TURNSTILE_SECRET_KEY=0x0
#MAINTENANCE_INFO="Database update."